<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ff1a8">  <td>22/02/26 19:17:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.test.ui.TestGooglePage@3d299e3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1505161068</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>22/02/26 19:18:01</td>   <td>2787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGooglePage.test_google_page(java.lang.String)[pri:0, instance:com.test.ui.TestGooglePage@3d299e3]">test_google_page</td> 
  <td>TestNG-test=Test-1@1505161068</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>22/02/26 19:18:08</td>   <td>10134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGooglePage.test_google_page(java.lang.String)[pri:0, instance:com.test.ui.TestGooglePage@3d299e3]">test_google_page</td> 
  <td>TestNG-test=Test-1@1505161068</td>   <td></td> </tr>
<tr bgcolor="6db3b2">  <td>22/02/26 19:18:16</td>   <td>18205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGooglePage.test_google_page(java.lang.String)[pri:0, instance:com.test.ui.TestGooglePage@3d299e3]">test_google_page</td> 
  <td>TestNG-test=Test-1@1505161068</td>   <td></td> </tr>
<tr bgcolor="8ff1a8">  <td>22/02/26 19:18:24</td>   <td>25674</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.test.ui.TestGooglePage@3d299e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1505161068</td>   <td></td> </tr>
</table>
